#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense {
  border-radius: 10px;
  background: #467599;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.budget-list {
  display: flex;
  width: 350px;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.text-amount {
  font-weight: 100;
  color: white;
  font-size: 18px;
}

.text-currency {
  font-weight: 100;
  color: white;
  font-size: 16px;
}

.calculate-btn {
  width: 50%;
  height: 50px;
  margin: auto;
}

.total-expense {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  border-radius: 12px;
  background: #102542;
}

.total {
  color: white;
}

.clear-expenses {
  width: 50%;
  margin: auto;
}
